/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import "bootstrap-sprockets";
@import "bootstrap";
*{
	font-family: "Lato";
}
body{

	  background-color: #F9F9F9;
}
#logo {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0;
	margin-left: 80px;
	a {
		color: #2F363E;
	}
}

#main_content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

.navbar-default {
	  background-color: #F9F9F9;

  border-radius: 0px;
  border: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #818181;
  font-family: "Lato";
  padding: 7px;
}

.submenu { 
	  background-color: rgb(250, 250, 246);
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form{

  border-color: #e7e7e7;
  background: rgba(131, 131, 131, 0.15);
  height: 36px !important;
  margin-bottom: 12px;
	
}

#pill{
	  position: absolute;
	    width: 421px;
  margin-top: 69px;
  height: 118px;
}

.btn-group, .btn-group-vertical {
  font-family: monospace;
}

h2 a {
  color: #3D3D3D;
  font-family: 'Playfair', serif;
  line-height: 34px;
  font-weight: 900;

}

h2 small {
  font-size: 43%;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: rgba(61, 61, 61, 0.6);
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.btn-default {
  color: #333358;
  border: 0px;
  background: rgb(250, 250, 246);
  border-radius: 0px;
}

#subnavbar {

	text-align: right;
}

#subnav {
list-style-type:none; 
padding: 4px 84px;
    margin: auto; 
    position:relative; 
    display:inline-flex; 
      margin-top: 10px;
}

#subnav li{
  margin-left: 21px;
}

#subnav a{
 font-family: 'Lato', sans-serif;
font-weight: 900;
text-transform: uppercase;
  color:  #3C3C5D;
}

#subnav img{
  margin-left: 6px;
}

.footer {
	text-align: right;
	background: rgba(131, 131, 131, 0.15);
	bottom: 0px;
	position: inherit;
	width: 100%;
	height: 40px;
	padding: 11px 120px;
}

.footer .azul {
	background: #c7f5ec;
	color: #43bce6;
	padding: 3px 10px;
}

.footer .amarillo {
	background: #feffc9;
	color: #43bce6;
	padding: 3px 10px;
}

#ordenador {
bottom: 6px;
  right: 12px;
	position: absolute;
	  z-index: 9999;

}

#banner {

	width: 100%;
	margin-top: 40px;
}    

.btn-primary {

	  color: white;
  background-color: #3AA8FC;
  border-color: #343459;
}


.btn-primary:hover {

	  color: rgb(67, 188, 230);
  background-color: #C7F5EC;
  border-color: #52C1E3;
}



.olvidar-contrasena input {

	  margin-top: 20px;
  margin-bottom: 11px;
  background: #FEFFC9;
  border: none;
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
  text-align: center;

  }


  .alert-info {
  background-color: #F9F9F9;
  border: 2px solid #EED25E;
  color: #168ad8;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", serif;
  color: #333333; }

 p, li {
  font-family: "Lato", Arial, sans-serif;
  color: #4e4e4e;
  font-size: 1em;
  line-height: 1.75em; }

h1 a {
  color: #3D3D3D;
  font-family: 'Playfair', serif;
  line-height: 34px;

}

h1, h2, a:hover {
  text-decoration: none !important;
  color: #BEBEB9  !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

 .link .row .clearfix :before {
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    padding-top: 110px ;

}
.noticia img {
  margin-right: 3px;
  margin-bottom: 3px;

}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: rgba(61, 61, 61, 0.6);
  background-color: rgba(250, 250, 246, 0);
  background-image: none;
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn {
	color: rgb(78, 78, 78);
  background-color: rgba(58, 168, 252, 0);
  border-color: rgba(52, 52, 89, 0);
}

.btn:hover {
  color: #333333;
  background-color: rgba(51, 51, 51, 0);
  border-color: rgba(51, 51, 51, 1);
  border-radius: 0px;
}


.navbar-nav > li {

  display: -webkit-box;

}

.menu img {

	  margin-top: 10px;
}

.modo{

	text-align: right;
	
	  margin-right: 73px;
}

.modoboton{

	border: 0px;
	background: rgba(51, 51, 51, 0);
	 border-bottom: 1px solid #C4C4C1;
}

.modolectura{

	font-family: "Lato", sans-serif;
  font-weight: 500;
  color: rgba(61, 61, 61, 0.6);
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 10px;
}
.darkSwitch {
    background: #0A0E12;
}

.darkSwitch .navbar-default{
   background-color: #0A0E12;
}

.darkSwitch h2 a {
  color: rgba(218, 219, 221, 0.95);
 }

 .darkSwitch h2 small {

  color: rgba(61, 61, 61, 1);

 }

  .darkSwitch #main_content .link {

  border-bottom: 1px solid #2C2C2C;
}

 .darkSwitch .btn {
  color: rgba(137, 161, 190, 0.9);
 }
.darkSwitch .footer {

  background: rgba(136, 136, 136, 0.21);

  }

 .darkSwitch .modoboton {

  border-bottom: 1px solid #2C2C2C;
  color: #646464;
}

.darkSwitch .modolectura {
  color: rgba(140, 140, 140, 1);
  }

.darkSwitch .navbar-default .navbar-nav > li > a {
  color: #4E4E4E;
}

.darkSwitch .form-control {

	  border: 1px solid #3C3C3C;
}

.darkSwitch  .leyenda-logo{
	background: url("leyenda-noche@2x.png");
	background-size: 421px 118px;
	opacity: 0.85;

}

.lightSwitch {
    background: #f0e8d2;
}

.lightSwitch .navbar-default{
   background-color: #f0e8d2;
}

.lightSwitch .modolectura {
  color: rgba(134, 116, 114, 1);

 }

  .lightSwitch .btn {
  color:  rgba(233, 59, 55, 1);
 }

 .lightSwitch .leyenda-logo{
	background: url("leyenda-dia@2x.png");
	background-size: 421px 118px;

}

 .lightSwitch h2 a {
  color: rgba(77, 72, 68, 1);
 }


 .lightSwitch  h2 small {
  color: rgba(134, 116, 114, 0.75);
}

.iconos {

	opacity: 0.85;
}

.leyenda-logo{
	background: url("leyenda@2x.png");
	background-size: 421px 118px;

}



